.slider-image {
  position: absolute;
  left: 154px;
  top: 24px;
  height: 546px;
  animation: fade 3s ease-in-out infinite;
}
@keyframes fade {
  0% {
    opacity: 10%;
  }
  25% {
    opacity: 100%;
  }
  50% {
    opacity: 100%;
  }
  75% {
    opacity: 100%;
  }

  100% {
    opacity: 10%;
  }
}
